body{
    color: #4fc24f;
    margin: 0;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;

}
h1{
    width: 500px;
    margin: 0 auto;
    font-family: 'Nanum Pen Script', cursive;
    padding-top: 50px;
    font-size: 5rem; /*텍스트 사이즈를 정할때는 em이나 %또는 픽셀보다는 rem을 사용해라*/
    /* rem이 적응성이 가장 좋고 안정적이며 오류가 가장 적게 난다.*/
    /*또한 1rem이 16픽셀이다.*/
    line-height: 2;
}


h2{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.5rem; /*40px를 사용할려면 40 /16=2.5rem*/
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 100px;
}

h3{
    font-family: 'Nanum Myeongjo', serif;
    color: #11999E;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    color: #66BFBF;
}

.intro{
    width: 30%;
    margin: auto;
}

.middle-container{
    margin: 100px auto;
}

.bottom-container{
    color: #11999E;

}

p{
    line-height: 10;
}

.skill-row{
    margin: 100px auto 100px auto;
    /*margin-top: 100px;  위의 내용이 이렇게 정의해준것이다.
    margin-left: auto;
    margin-bottom: 100px;
    margin-right: auto;*/
    width: 50%;
    text-align: left;
    line-height: 2;
}
.computer{
    width: 25%;
    float:left; /*float함수는 이미지를 해당 지점에 넣고 문구를 옆으로 둔다.*/
    margin-right: 30px; 
}
.기술메모{
    clear: left; /*claer함수는 매모만 왼쪽으로 정렬시켜준다.*/
}


.chillies{
    width: 25%;
    float:right;
    margin-left: 30px;
}
.빅데이터 {
    text-decoration:underline;

}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

<!--